<div class="content" role="main">
  <div cdkDropListGroup class="container">
    <!-- Use app-column for the 'To do' list -->
    <app-column
      title="To do"
      [tasks]="todo"
      (itemDropped)="drop($event)">
    </app-column>

    <!-- Use app-column for the 'In Progress' list -->
    <app-column
      title="In Progress"
      [tasks]="inProgress"
      (itemDropped)="drop($event)">
    </app-column>

    <!-- Use app-column for the 'Done' list -->
    <app-column
      title="Done"
      [tasks]="done"
      (itemDropped)="drop($event)">
    </app-column>
  </div>
</div>

<router-outlet></router-outlet>